
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

----
# Ignore the Symfony cache
/var/*
/var/cache/*
/var/logs/*
/var/sessions/*
/var/tmp/*

# Ignore the vendor directory
/vendor/

# Ignore environment variables
/.env

# Ignore IDE and OS-specific files
.DS_Store
Thumbs.db
.idea/
.vscode/
